<footer role="contentinfo">
    <hr>
    <div class="level">
        <div class="level-item has-text-centered">
            <div><a href="https://www.facebook.com"  class="clickLink" title="Facebook">Facebook</a></div>

        </div>
        <div class="level-item has-text-centered">
            <div><a href="agb.html" class="clickLink" tabindex="0">AGB</a></div>

        </div>
        <div class="level-item has-text-centered">
            <div><a href="datenschutz.html" class="clickLink" tabindex="0">Datenschutzerklärung</a></div>

        </div>
        <div class="level-item has-text-centered">
            <div><a href="impressum.php" class="clickLink" tabindex="0">Impressum</a></div>

        </div>
        <div class="level-item has-text-centered">
            <div><a href="sitemap.php" class="clickLink" tabindex="0">Sitemap</a></div>

        </div>
    </div>
</footer>

<!-- Javascript -->
<script src="JS/Navigation.js">

</script><script src="JS/Request.js"></script>


<style>
    .clickLink{
        display:block;
        height: 48px;
    }
</style>