<footer>
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p >Adresse</p>
                <p >Kurallee 1, 94072 Bad Füssing</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p >Telefon</p>
                <p >+49 8531 978706</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p >Email</p>
                <p >mail.insel@office.at</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="level">
        <div class="level-item has-text-centered">
            <div><a href="hhtps://www.facebook.com" title="Facebook">Facebook</a></div>

        </div>
        <div class="level-item has-text-centered">
            <div><a role="menuitem" href="../agb.html" tabindex="0">AGB</a></div>

        </div>
        <div class="level-item has-text-centered">
            <div><a role="menuitem" href="../datenschutz.html" tabindex="0">Datenschutzerklärung</a></div>

        </div>
        <div class="level-item has-text-centered">
            <div><a role="menuitem" href="../impressum.html" tabindex="0">Impressum</a></div>

        </div>
        <div class="level-item has-text-centered">
            <div><a role="menuitem" href="../sitemap.html" tabindex="0" lang="en">Sitemap</a></div>

        </div>
    </div>
</footer>