<link rel="stylesheet" type="text/css" href="../styles/accessibility.css">
<script type="text/javascript" src="../js/Navigation.js"></script>


<header class="header" role="banner">
    <a class="skipToMain" href="#main" tabindex="0">Navigation überspringen</a>
    <div class="level" id="kopfzeile">
        <div class="level-item has-text-centered is-mobile">
            <a href="http://maps.google.com/?q=1200 Kurallee 1,Bad Füssing, 94072 " target="_blank"><img src="images/adressePin.png" alt="" width="3%">Kurallee 1, 94072 Bad Füssing</a>
        </div>
        <div class="level-item has-text-centered">
            <a href="tel:+49 8531 97 87 06"><img src="images/telefon.png" alt="" width="4%">Tel: +49 8531 97 87 06</a>
        </div>
    </div>
    <nav aria-label="Navigation" class="navbar" role="navigation">
        <div class="navbar-brand">
            <img src="images/Logo.jpg" alt="" id="logo">
            <a role="button" class="navbar-burger" aria-label="menu" data-target="navMenu" aria-expanded="false" id="burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" role="menubar" aria-label="Navigation">
            <div class="navbar-start">
                <a role="menuitem" href="index.php" tabindex="0" lang="en" class="navbar-item" id="item1"> Home </a>
                <a role="menuitem" href="about.php" tabindex="0" class="navbar-item" id="item2"> Über uns </a>
                <a role="menuitem" href="shop.php" tabindex="0" class="navbar-item" id="item3"> Sortiment </a>
                <a role="menuitem" href="request.php" tabindex="0" class="navbar-item" id="item4"> Bestellen </a>
                <a role="menuitem" href="contact.php" tabindex="0" class="navbar-item" id="item5"> Kontakt </a>
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </nav>
</header>