<header class="header">
    <a class="skipToMain" href="#main" tabindex="0">Navigation überspringen</a>
    <div class="level" id="kopfzeile">
        <div class="level-item has-text-centered is-mobile">
            <img src="images/adressePin.png" alt="" width="2%">Kurallee, 94072 Bad Füssing
        </div>
        <div class="level-item has-text-centered">
            <img src="images/telefon.png" alt="" width="1.5%">Tel: +49 8531 94460
        </div>
    </div>
    <nav aria-label="Navigation" class="navbar" role="navigation">
        <div class="navbar-brand">
            <img src="images/Logo.jpg" alt="" id="logo">
            <a role="button" class="navbar-burger" aria-label="menu" data-target="navMenu" aria-expanded="false"
               id="burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" role="menubar" aria-label="Navigation">
            <div class="navbar-start">
                <a role="menuitem" href="index.php" tabindex="0" lang="en" class="navbar-item">
                    Home
                </a>
                <a role="menuitem" href="about.php" tabindex="0" class="navbar-item">
                    Über uns
                </a>
                <a role="menuitem" href="shop.php" tabindex="0" class="navbar-item">
                    Sortiment
                </a>
                <a role="menuitem" href="request.php" tabindex="0" class="navbar-item">
                    Anfragen
                </a>
                <a role="menuitem" href="../contact.html" tabindex="0" class="navbar-item">
                    Kontakt
                </a>
            </div>
            <div class="navbar-end">

            </div>
        </div>
    </nav>
</header>