.requestForm{
    display: none;
}

#groesseTabelle{
    display: none;
}

.tableButton{
    height: 5em;
}

.require{
    text-decoration: none !important;
}



input[type="checkbox"],input[type="radio"]{
    cursor: pointer;
    -webkit-appearance: none;
    background: lightgrey;
    border-radius: 1px;
    position: relative;
    box-sizing: content-box ;
    width: 35px;
    height: 35px;
    border-width: 0;
    transition: all .3s linear;
}

input[type="checkbox"]:checked, input[type="radio"]:checked{
    background-color: #ffcc00;
}
input[type="checkbox"]:focus, input[type="radio"]:focus{
    outline: 0 none;
    box-shadow: none;
}

.require{
    text-decoration: none !important;
}

input[type="checkbox"]:after, input[type="radio"]:after {

    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

select{
    cursor: pointer;
    -webkit-appearance: none;
    background: lightgrey;
    height: 45px !important;
    position: relative;

}

input[type="text"], input[type="email"], input[type="tel"]{
    height: 45px !important;
}

.dataFieldsSize, .personData{
    margin-bottom: 2em !important;
}



fieldset {
    border: none;
  /*  padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 20em;
    margin-top: 1em;
    margin-bottom: 0.8em; */
}
input[type="radio"]:checked {
    background-color: #ffcc00;
}

