.requestForm{
    display: none;
}

.checkboxGroesse {
    font-size: 1.5em;
    margin-right: 10%;
    line-height: 2.15em;
    padding: 15px 1px;
}

#groesseTabelle{
    display: none;
}

.row{
    float: left;
    width: 100%;
    text-align: justify;
}

.tableButton{
    height: 5em;
}

#farbe{
    margin-bottom: 0.5em;
}

.buttonGroesse{
    padding: 0.6em 0em;
    font-size: 1em;
    width: 130px;
    float: right;
    margin-top: 2em;
}

#groesse{
    /* line-height: 40px; */
    min-height: 20px;
    /* margin: 40px; */
}

.formSections{
    width: 100%;
}
fieldset {
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 20em;
    border: none;
    margin-top: 1em;
    margin-bottom: 0.8em;
}

table{
    margin-top: 2em;
}

input[type="checkbox"],input[type="radio"]{
    cursor: pointer;
    -webkit-appearance: none;
    background: lightgrey;
    border-radius: 1px;
    position: relative;
    box-sizing: content-box ;
    width: 30px;
    height: 30px;
    border-width: 0;
    transition: all .3s linear;
}

.DataField{
    float: left;
    text-align: left;
}


button{
    cursor: pointer;
    -webkit-appearance: none;
    background: lightgrey;
    border-radius: 1px;
    position: relative;
    box-sizing: content-box ;
    width: 85px;
    height: 30px;
    border-width: 0;
    padding: 0.2em;
    font-size: 1.3em;
    margin-top: 0.5em;
    transition: all .3s linear;
}


input[type="text"], input[type="email"], input[type="tel"], textarea{
    cursor: pointer;
    -webkit-appearance: none;
    background: lightgrey;
    border-radius: 1px;
    position: relative;
    box-sizing: content-box;
    margin-bottom: 1.25em;
    width: 200px;
    height: 35px;
    border-width: 0;
    transition: all .3s linear;
}

textarea{
    height: 100px;
    margin-bottom: 0em;

}

caption{
    font-size: 1.5em;
}

select{
    cursor: pointer;
    -webkit-appearance: none;
    background: lightgrey;
    border-radius: 1px;
    position: relative;
    box-sizing: content-box ;
    margin-bottom: 0.8em;
    width: 200px;
    height: 35px;
    border-width: 0;
    padding: 0.2em;
    font-size: 1.5em;
    transition: all .3s linear;
}

input[type="checkbox"]:checked, input[type="radio"]:checked{
    background-color: #ffcc00;
}
input[type="checkbox"]:focus, input[type="radio"]:focus{
    outline: 0 none;
    box-shadow: none;
}

.require{
    text-decoration: none !important;
}

input[type="checkbox"]:after, input[type="radio"]:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.FormHeading{
    margin-top: 1.7em;
    float: left;
    padding-left: 0.75em;
}

.formUE{
    margin-top: 2.25em;
    padding-left: 0.75em;
    text-align: left;
}

form{
    margin-left: 0;
}
legend{
    float: left;
}

@media only screen and (max-width: 600px) {


    form{
        margin-left: 0em;
    }
}
/* .testingIT {
     margin-left: auto;
     /* margin-right: auto; */
/* width: 960px; */
/*  position: relative;
  font-size: 1.6em;
  vertical-align: middle;
  text-align: left;
  text-transform: none;
  color: black;
  padding-left: 2em;
  /* padding-top: 0.15em; */
/*   margin-bottom: 1em;
   height: 1em;
   /* float: left; */
/* margin-top: 0.2em; */
/*   line-height: 1.05em;
   -webkit-appearance: none;
}

.testingIT input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   -webkit-appearance: none;
}

.checkmark {
   position: absolute;
   /* top: 0; */
/* left: 0;
 height: 25px;
 width: 25px;
 background-color: gainsboro;
 margin-left: 0.5em;
 -webkit-appearance: none;
}

.testingIT:hover input ~ .checkmark {
    background-color: #ccc;
}

.testingIT input:checked ~ .checkmark {
    background-color: darkgray;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.testingIT input:checked ~ .checkmark:after {
    display: block;
}

.testingIT .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */
