#logo {
    width: 10%;
    height: 10%;
}

header {
    background-color: #F7F7F6;
}

#burger:hover {
    color: #F7F7F6;
}


@media screen and (max-width:1023px) {
    #logo {
        width: 10%;
        height: 10%;
    }
}

@media screen and (max-width:768px) {
    #logo {
        width: 52px;
        height: 52px;
    }
}

@media screen and (min-width:1024px) {
    #logo {
        width: 100px;
        height: 100px;
    }
}

box {
    padding: 20px;
    background-color: red;
    width:50%;
    top:20px;
    left:50%;
}
