header {
    background-color: #F7F7F6;
}

#burger:hover {
    color: #ffcc00;
}



@media screen and (max-width:1023px) {
    #logo {
        width: 54px;
        height: 54px;
    }
}

@media screen and (min-width:1024px) {
    #logo {
        width: 120px;
        height: 120px;

    }
}
#kopfzeile {
    margin:0px;
    padding: 0px;
}

#item1:hover, #item2:hover, #item3:hover, #item4:hover, #item5:hover {
    color: #ffcc00;
}
/*
#ueberschrift1, #ueberschrift2, #ueberschrift3, #ueberschrift4, #ueberschrift5, #ueberschrift6, a:hover, .ueberschrift, h1, h2, h3{
    color: #ffcc00; !important;
}
a {
    color:black;

}*/