header {
    background-color: #F7F7F6;
}

#burger:hover {
    color: #F7F7F6;
}



@media screen and (max-width:1023px) {
    #logo {
        width: 52px;
        height: 52px;
    }
}

@media screen and (min-width:1024px) {
    #logo {
        width: 100px;
        height: 100px;
    }
}