@media screen and (max-width:1023px) {
    img {
        width: 25%;
        height: 25%;
    }
}

@media screen and (min-width:1024px) {
    img {
        width: 100px;
        height: 100px;
    }
}