#shop, #main, #main2 {
    padding: 15px;
    margin: 15px;
}

#main2{
    margin-top: 2em;
}

abbr{
    text-decoration: none;
}

#welcome {
    padding: 20px;
}
#shop, #shopAussen, #marken, #main2 {
    background-color: #F7F7F6;
}


/* Common style

#produkte figure {
    position: relative;
    float: left;
    overflow: hidden;

    text-align: center;
    cursor: pointer;
}

#produkte figure img {
    position: relative;
    display: block;
    opacity: 0.8;
}

#produkte figure figcaption {
    padding: 2em;
    color: black;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#produkte figure figcaption::before,
#produkte figure figcaption::after {
    pointer-events: none;
}

#produkte figure figcaption,
#produkte figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#produkte figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

#produkte figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

#produkte figure h2 span {
    font-weight: 800;
}

#produkte figure h2,
#produkte figure p {
    margin: 0;
}

#produkte figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(256,256,256,0) 0%, rgba(256,256,256,0.8) 75%);
    background: linear-gradient(to bottom, rgba(256,256,256,0) 0%, rgba(256,256,256,0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: white;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
    color: black;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}*/