@media screen and (max-width:1024px) {
    #produkte img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width:1025px) {
    #produkte img {
        width: 300px;
        height: 300px;
    }
}

#welcome, #produkte, #marken{
    background-color: #F7F7F6;
    margin: 20px;
    padding: 10px;
}





